.form1 {
    box-sizing: border-box;
    width: 40rem;
    margin: 10px auto 0;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
    padding-top: 0px;
    border-radius: 3px;
}

.input {
    margin: 40px 25px;
  
    display: block;
    border: none;
    padding: 10px 0;
    -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(96%, rgba(255, 255, 255, 0)), color-stop(4%, #1abc9c));
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #1abc9c 4%);
    background-position: -100px 0;
    background-size: 0px;
    background-repeat: no-repeat;
    color: #0e6252;
}

.input:focus, input:valid {
    box-shadow: none;
    outline: none;
    background-position: 0 0;
}

.input:focus::-webkit-input-placeholder, .input:valid::-webkit-input-placeholder {
    color: #f2849e;
    font-size: 18px;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    visibility: visible !important;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}